services:
    #db-service:

    #auth-service:

    #backend:

    #news-parser:

    #frontend:

    #nginx:

    #minio:

    postgres:
        image: postgres:17-alpine
        container_name: postgres
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - ./postgres/postgres-data:/var/lib/postgresql/data
        networks:
            - backend-network
        ports:
            - "6432:5432"

    elasticsearch:
        image: elasticsearch:8.18.6
        container_name: elasticsearch
        environment:
            - node.name=es01
            - cluster.name=elastic-cluster
            - discovery.type=single-node
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true
            - xpack.security.http.ssl.enabled=false
            - xpack.security.transport.ssl.enabled=false
        mem_limit: 1g
        ulimits:
            memlock:  # Активация bootstrap.memory_lock
                soft: -1
                hard: -1
        volumes:
            - ./elasticsearch/data:/usr/share/elasticsearch/data
        networks:
            - backend-network
        healthcheck:
            test: ["CMD", "curl", "-s", "-f", "--user", "elastic:${ELASTIC_PASSWORD}", "http://localhost:9200/_cluster/health?wait_for_status=green&timeout=5s"]
            interval: 10s
            timeout: 10s
            retries: 15
            start_period: 60s
        ports:
            - "9200:9200"

    redis:
        image: redis:8.2-alpine
        container_name: redis
        ports:
            - "6379:6379"
        volumes:
            - ./redis:/data
        networks:
            - backend-network
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 512M
                reservations:
                    cpus: '0.2'
                    memory: 256M
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 30s
            timeout: 10s
            retries: 3
        restart: unless-stopped

    rabbitmq:
        image: rabbitmq:4-management-alpine
        container_name: rabbitmq
        hostname: rabbitmq
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
        volumes:
            - ./rabbitmq:/var/lib/rabbitmq

    #promtail:

    #prometheus:

    #grafana:

    #loki:


#volumes:
#    postgres-data:
#    elasticsearch-data:
#    redis-data:
#    rabbitmq-data:

networks:
    backend-network:
        driver: bridge