services:
    #backend:

    #news-parser:

    #frontend:

    #db-service:

    celery_worker:
        build:
            context: ./db-service
        command: uv run celery -A core.celery worker --concurrency 1 --loglevel=INFO
        depends_on:
            - postgres
            - elasticsearch
            - redis
            - rabbitmq
        env_file:
            -   ./db-service/.env.celery
        networks:
            - backend-network

#    nginx:
#        image: nginx:stable-alpine3.21-slim
#        container_name: nginx
#        volumes:
#            - ./nginx/nginx.conf:/etc/nginx/conf.d:ro
#            - ./nginx/certs:/etc/certs
#        ports:
#            - "80:80"
#            - "443:443"
#        networks:
#            - backend-network
#        command: [nginx-debug, '-g', 'daemon off;']

    minio:
        image: quay.io/minio/minio:RELEASE.2025-07-23T15-54-02Z
        container_name: minio
        volumes:
            - ./minio/data:/data
        environment:
            MINIO_ROOT_USER: ${MINIO_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        networks:
            - backend-network
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "mc", "ready", "local"]
            interval: 5s
            timeout: 5s
            retries: 5

    minio-create-bucket:
        image: quay.io/minio/mc:RELEASE.2025-08-13T08-35-41Z
        environment:
            MINIO_ROOT_USER: ${MINIO_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
            MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}
            MINIO_ENDPOINT: http://minio:9000
        depends_on:
            minio:
                condition: service_healthy
        volumes:
            - ./minio/scripts/create_bucket.sh:/usr/bin/create_bucket.sh
        networks:
            - backend-network
        entrypoint: /usr/bin/create_bucket.sh
        restart: no


    postgres:
        image: postgres:17-alpine
        container_name: postgres
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - ./postgres/postgres-data:/var/lib/postgresql/data
        networks:
            - backend-network
        ports:
            - "6432:5432"

    elasticsearch:
        image: elasticsearch:8.18.6
        container_name: elasticsearch
        environment:
            - node.name=es01
            - cluster.name=elastic-cluster
            - discovery.type=single-node
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true
            - xpack.security.http.ssl.enabled=false
            - xpack.security.transport.ssl.enabled=false
        mem_limit: 1g
        ulimits:
            memlock:  # Активация bootstrap.memory_lock
                soft: -1
                hard: -1
        volumes:
            - ./elasticsearch:/usr/share/elasticsearch/data
        networks:
            - backend-network
        healthcheck:
            test: ["CMD", "curl", "-s", "-f", "--user", "elastic:${ELASTIC_PASSWORD}", "http://localhost:9200/_cluster/health?wait_for_status=green&timeout=5s"]
            interval: 10s
            timeout: 10s
            retries: 15
            start_period: 60s
        ports:
            - "9200:9200"

    redis:
        image: redis:8.2-alpine
        container_name: redis
        ports:
            - "6379:6379"
        volumes:
            - ./redis:/data
        networks:
            - backend-network
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 512M
                reservations:
                    cpus: '0.2'
                    memory: 256M
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 30s
            timeout: 10s
            retries: 3
        restart: unless-stopped

    rabbitmq:
        image: rabbitmq:4.1.4-management-alpine
        container_name: rabbitmq
        hostname: rabbitmq
        volumes:
            - ./rabbitmq:/var/lib/rabbitmq
        networks:
            - backend-network
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}


    #promtail:

    #prometheus:

    #grafana:

    #loki:


#volumes:
#    postgres-data:
#    elasticsearch-data:
#    redis-data:
#    rabbitmq-data:

networks:
    backend-network:
        driver: bridge