services:
    #db-service:

    #auth-service:

    #backend:

    #news-parser:

    #frontend:

    #nginx:

    #minio:

    postgres:
        image: postgres:17-alpine
        container_name: postgres
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - postgres-data:/var/lib/postgresql/data
        networks:
            - backend-network

    #redis:

    #elasticsearch:

    #rabbitmq:

    #promtail:

    #prometheus:

    #grafana:

networks:
    backend-network:
        driver: bridge