services:
    #db-service:

    #auth-service:

    #backend:

    #news-parser:

    #frontend:

    #nginx:

    #minio:

    postgres:
        image: postgres:17-alpine
        container_name: postgres
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - ./postgres/postgres-data:/var/lib/postgresql/data
        networks:
            - backend-network

    #redis:

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:latest
        container_name: elasticsearch
        environment:
            - node.name=es01
            - cluster.name=Elastic-Cluster
            - discovery.type=single-node
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true
        mem_limit: 1g
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - ./elasticsearch/data:/usr/share/elasticsearch/data
        networks:
            - backend-network
        healthcheck:
            test: [ "CMD-SHELL", "curl -f http://localhost:9200 || grep -q 'missing authentication credentials'" ]
            interval: 10s
            timeout: 10s
            retries: 120

    #rabbitmq:

    #promtail:

    #prometheus:

    #grafana:

networks:
    backend-network:
        driver: bridge