services:
    #db-service:

    #auth-service:

    #backend:

    #news-parser:

    #frontend:

    #nginx:

    #minio:

    postgres:
        image: postgres:17-alpine
        container_name: postgres
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        volumes:
            - ./postgres/postgres-data:/var/lib/postgresql/data
        networks:
            - backend-network
        ports:
            - "6432:5432"

    #redis:

    elasticsearch:
        image: elasticsearch:8.18.6
        container_name: elasticsearch
        environment:
            - node.name=es01
            - cluster.name=elastic-cluster
            - discovery.type=single-node
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true
            - xpack.security.http.ssl.enabled=false
            - xpack.security.transport.ssl.enabled=false
        mem_limit: 1g
        ulimits:
            memlock:  # Активация bootstrap.memory_lock
                soft: -1
                hard: -1
        volumes:
            - ./elasticsearch/data:/usr/share/elasticsearch/data
        networks:
            - backend-network
        healthcheck:
            test: [ "CMD-SHELL", "curl -f http://localhost:9200 || grep -q 'missing authentication credentials'" ]
            interval: 10s
            timeout: 10s
            retries: 120
        ports:
            - "9200:9200"

    #rabbitmq:

    #promtail:

    #prometheus:

    #grafana:

networks:
    backend-network:
        driver: bridge