@import url("./header");
@import url("./footer");
@import url("./LeftSideBar");
@import url("./PostsSection");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  text-align: left;
}