* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  /* Сменим выравнивание на левый край */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* .input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
} */

.left-side-bar {
  position: fixed;
  left: 15rem;
  /* top: 100px; */
  width: 220px;
  height: calc(100vh - 50px);
  background: #fff;
  border-right: 1px solid #eee;
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  /* z-index: 101; */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 40px;
  background: #fff;
  color: #777;
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
}

/* .news-category {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  text-align: left;
} */

/* .news-category:hover {
  color: #333;
  cursor: pointer;
} */


.posts-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 70px;
}

.post-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 15px;
  width: 900px;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #eee;
}

.post-card:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
}

.post-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;
}

.post-content {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
}


.news-item-category {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: #555;
  margin-right: 5px;
}

.post-meta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news-post-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.news-post-item-date {
  font-size: 10px;
  color: #777;
}

.news-post-item-categories {
  text-align: center;
  margin-left: 200px;
}

/* hr {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 10px 0;
} */


.search-news-section {
  display: flex;
  margin-left: -127px;
  padding-top: 50px;
  /* justify-content: left; */
}