.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 40px;
    background: #fff;
    color: #777;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.04);
    padding: 10px;
}