/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    color: #333;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
} */

@import url("./SearchNewsSection.css");

.main-header {
    position: fixed;
    /* Закрепляем хедер вверху страницы */
    top: 0;
    z-index: 1000;
    /* Гарантируем, что хедер будет поверх остального контента */

    /* Фон и тени для визуального выделения */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;

    display: flex;
    /* Используем Flexbox для выравнивания логотипа, поиска и навигации */
    justify-content: space-between;
    /* Распределяем элементы по ширине */
    align-items: center;
    /* Центрируем элементы по вертикали */
    border: 2px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.logo-box {
    position: relative;
    display: flex;
    border: none;
    width: 500px;
    min-width: 500px;
}

.logo {
    margin-left: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #007bff;
    /*display: flex;*/
}

.logo:hover {
    /*cursor: pointer;*/
    color: #a802fb;
    /*border-radius: 8px;*/
    /*padding: 5px;*/
}

.profile-logout-wrapper {
    display: flex;
    position: relative;
    border: none;
    padding-left: 50px;
    max-width: 250px;
    min-width: 250px;
    width: 100%;
}

.profile-logout-wrapper a {
    text-decoration: none;

}