.main-content {
    display: flex;
    border-left: 2px;
    width: 60%;
    border: none;
    margin-top: 75px;
    margin-left: 300px;
    margin-bottom: 50px;
    /*padding-bottom: 100px;*/

}

.posts-section {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 15px;*/
    /*justify-content: left;*/
    /*border: none;*/
}

@keyframes aiReportFadeIn {
    from {
        opacity: 0;
        background-color: rgba(168, 2, 251, 0.59);
    }
    to {
        opacity: 1;
    }
}

.ai-post-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 20px 20px 5px;
    width: 900px;
    /*transition: box-shadow 0.2s;*/
    display: flex;
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    border: 2px solid rgba(0, 123, 255, 0.5);
    cursor: default;
    animation: aiReportFadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
        background-color: rgba(168, 2, 251, 0.25);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.post-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 20px 20px 5px;
    width: 900px;
    transition: box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #eee;
    margin-bottom: 1px;
    cursor: pointer;
    animation: fadeIn 0.6s ease-out forwards;
}

.post-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /*border-color: #007bff; !* смена цвета рамки *!*/
    background-color: #f9f9f9; /* светлый фон */
    /*transform: translateY(-2px); !* чуть поднять вверх *!*/

}

.post-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #222;
    /*align-content: flex-start;*/
}

.post-content {
    font-size: 14px;
    /*color: #444;*/
    margin-bottom: 12px;
}

.post-meta-container {
    display: flex;
    position: relative;
    /*justify-content: space-between;*/
    align-items: start;
    width: 100%;
    margin-top: 20px;
}

.news-post-item-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.news-post-item-date {
    /*display: flex;*/
    width: 120px;
    font-size: 11px;
    color: #777;
    padding-top: 5px;
    margin-right: 15px;
}

.news-post-item-categories {
    text-align: left;
    max-width: 600px;
}

.news-item-category {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 6px;
    padding: 1px 1px;
    margin-right: 3px;
    margin-bottom: 4px;
}

.news-item-category a {
    font-size: 12px;
    padding: 4px 8px;
    text-decoration: none;
    color: #555;
    border-radius: 4px;
}

.news-item-category:hover {
    background-color: #d3dee7;
}

hr {
    border: none;
    height: 1px;
    /*background-color: #eee;*/
    margin: 3px;
}

.fresh-news-count-section {
    margin-top: 10px;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
}

@keyframes freshNewsSlidingPanelFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
        background-color: rgba(255, 4, 4, 0.58);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fresh-news-sliding-panel {
    text-align: center;
    padding: 8px;
    border: 2px solid #a802fb;
    position: fixed;
    align-self: center;
    background-color: #fff;
    z-index: 9;
    width: 400px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #3e246e;
    animation: freshNewsSlidingPanelFadeIn 0.6s ease-out forwards;
}

.fresh-news-sliding-panel:hover {
    background-color: #eee9f8;
    box-shadow: 0 4px 10px rgba(255, 4, 4, 0.58);
}