.loader {
    /*width: 100px;*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed #a802fb;
    animation: rotate 3s infinite linear;
    align-self: center;
    margin: auto;
    /*justify-content: center;*/
    /*align-items: center;*/
}

@keyframes rotate {
    0% {transform: rotate(0deg) scale(1); }
    25% {transform: rotate(180deg) scale(0.6); }
    50% {transform: rotate(270deg) scale(0.3); }
    75% {transform: rotate(360deg) scale(0.6); }
    100% {transform: rotate(0deg) scale(1); }
}